* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html {
    background: #c768e4;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  

  h1{
    z-index: 2;
    font-size: 3rem;
    position: relative;
    top: 50px;
    left: 32%;
  }

  .piano-container {
    display: flex;
    flex-direction: column;
  }
  .box2 {
    display: flex;
    width: 90vw;
    height: 67vh;
    border: 10px solid #000634;
    border-radius: 1rem;
    margin: 0 auto;
    position: relative;
    padding: 1rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items:end;
    background-color: #030409;
  }
  
  .key {
    width: 4rem;
    height: 25rem;
    border-radius: 0 0 4px 4px;
    box-shadow: 2px 2px 10px 0px #ccc;
    display: flex;
    align-items: flex;
    justify-content: center;
    cursor: pointer;
  }
  
  .white-key {
    border: 3px solid #010425;
    background-color: #fff;
    transition: 0.2s all;
  }

  .white-active,
  .white-key:hover{
    background-color: rgba(81, 182, 178);
    border-bottom:  none;
    transform: rotate3d(1, 0, 0, 20deg);
  }
  
  .black-key {
    background: rgb(36, 32, 30);
    z-index: 1;
    background: linear-gradient(
      180deg,
      rgba(36, 32, 30, 1) 26%,
      rgba(79, 82, 71, 1) 86%
    );
    height: 18rem;
    width: 3rem;
    position: absolute;
    bottom:105px;
    transition: 0.2s all;
  }
  
  .black-1 {
    left: 60px;
  }
  
  .black-2 {
    left: 123px;
  }
  
  .black-3 {
    left: 248px;
  }
  
  .black-4 {
    left: 312px;
  }
  .black-5 {
    left: 375px;
  }
  
  .black-6 {
    left: 503px;
  }
  .black-7 {
    left: 568px;
  }
  
  .black-8 {
    left: 692px;
  }
  
  .black-9 {
    left: 757px;
  }
  
  .black-10 {
    left: 820px;
  }
  .black-11 {
    left: 948px;
  }
  
  .black-12 {
    left: 1010px;
  }
  
  .black-13 {
    left: 1137px;
  }
  
  .black-14 {
    left: 1200px;
  }
  
  .black-15 {
    left: 1265px;
  }
  
  .black-key:hover {
    background-color: linear-gradient(
        180deg,
        rgba(36, 32, 30, 1) 26%,
        rgba(136, 173, 33) 86%
    );

    transform: translateY(20px);
  }

  .black-key:active{
        background: linear-gradient(
            180deg,
            rgba(36,32,1) 26%,
            rgba(164, 164, 164) 86%
        );
  }